<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techno Tingle</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/login-style.css" />
    <link rel="stylesheet" href="/css/style.css" />

  </head>
<body>
    {{!-- <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Techno Tingle</a>
      </h1> --}}
      {{> header }}
      {{!-- <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a href="/signup">Signup</a>
          </li>
        </ul>
      </nav>
    </header> --}}
    <main>
      <div class="container container-fluid mt-5">
      {{{body}}}
    </div>
    </main>
    {{> footer }}
  </body>


</html>
  