{{> header}} 
<section>
    <h1>Dashboard</h1>
    <a href="/posts/new">Create New Post</a>
    <ul>
        {{#each posts}}
            <li>
                <a href="/posts/edit/{{id}}">{{title}}</a> 
            </li>
        {{/each}}
    </ul>
</section>
{{> footer}}
